h1{
text-align: center;
color:white;
background-color: rgb(2, 2, 90);

}
header{
text-align: center;
}
h2{
    color: rgb(2, 2, 90);
}
p{
    font-size: 18px;
    color:gray;
}
hr{
    outline-style:solid;
}