body {
  margin: 0;
}

h1 {
  text-align: center;
  color:white;
  background-color: #2D3945;
  font-size: 24px;
  padding: 20px;
  margin: 0px;
}

header {
  text-align: center;
}

p {
  font-size: 18px;
  color:gray;
  margin: 10px 0;
}

hr {
  height: 2px;
  background-color: black;
  border: none;
  margin: 30px 5px;
  height: 2px;
}

.boldline {
  height: 6px;
  background-color: black;
  border: none;
  margin:30px 10px 5px;
}

.subline {
  margin: 0 10px 30px;
}

main {
  margin: 10px;
}

fieldset {
  border:0px;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

input[type="radio"],input[type="checkbox"] {
  margin-bottom: 15px;
}

input[type=text],input[type=tel],#state {
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
}

::-webkit-input-placeholder { text-align:right; }

input[type=number] {
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  background-color: whitesmoke;
  border: none;
}

input:focus, select:focus, textarea:focus {
  background-color:whitesmoke;
  outline-color: rgb(18, 18, 117);
}

select { color: gray; }

#other-topics {
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  width: 100%;
}

input[type=button] {
  margin: 30px auto;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  background-color: #4EBBB5;
  color:white;
  border: none;
  display: block;
  font-size: 18px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}

@media screen and (min-width:768px) {
p {
  font-size: 18px;
  color:gray;
  margin-bottom:40px;
}
.structure {
  margin:auto;
  max-width: 768px;
}

.field {
  flex-direction: row;
}

input,select {
  flex-grow: 1;
}

label {
  min-width: 100px;
}
}

